<% if Rails.configuration.try(:avatar_css_path).present? %>
  <style>
    <%= File.open(Rails.configuration.avatar_css_path).read.html_safe %>
  </style>
<% elsif @avatar.custom_css %>
  <style>
    <%= @avatar.custom_css %>
  </style>
<% end %>

<% unless params[:hide_pov] == "1" %>
  <% if params[:local_embed] %>
      <%= @avatar.pov_stream_embed_local.html_safe if @avatar.pov_stream_embed_local %>
  <% else %>
      <%= @avatar.pov_stream_embed.html_safe if @avatar.pov_stream_embed %>
  <% end %>
<% end %>
  
<% unless params[:hide_chat] == "1" %>
  <div id="suggestions_container" class="container">
    <div id="suggestion_transmit"></div>
    <div id="suggestions_top"></div>
  </div>
<% end %>  
  
<% unless params[:hide_input] == "1" %>
  <div id="user_input_container" class="container">
    <form id="suggestion_input_form">
    	  <p><%= @setting.local_initial_greeting %> <span id="display_user_name" class="magenta user_name_chat"><%= @user_name %></span> <span id="new_name_button">(<%= @setting.local_name_change_button %>)</span>. <%= @avatar.prompt %></p>     
        <input id="suggestion_input" type="text" maxlength="79" autocomplete="off" placeholder="<%= @avatar.input_placeholder %>"/>
        <!--input id="suggestion_submit" type="submit" value="Los!"/-->
        <input id="chat_name" type="hidden" value="<%= @user_name %>"/>
        <div id="suggestion_message"></div>
    </form>

    <div id="name_container">
      <p><%= @setting.local_name_change_prompt %></p>
      <span id="name_message"></span>
      <form id="name_input_form">
        <input id="new_chat_name" type="text" size="10" value="" maxlength="10"/>
        <input id="name_submit" type="submit" value="<%= @setting.local_name_change_confirm %>"/>
      </form>
    </div>
  </div>
<% end %>
  
<% unless params[:hide_notice] == "1" %>
  <div id="moderator_container" class="container">
    <p><span id="moderator-name" class="moderator-name"><%= @chat_item.name if @chat_item %></span><span class="moderator-name">:</span> <span id="moderator-notice"><%= @chat_item.content if @chat_item %></span></p>
    <% if @moderate %>
    <form id="notice_input_form">
        <input id="notice_name" type="text" autocomplete="off" value="Moderator"/>:&nbsp;
        <input id="notice_content" type="text" autocomplete="off"/>
        <input id="notice_submit" type="submit" value="Anzeigen"/>
    </form>
    <% end %>
  </div>
<% end %>

<% unless @moderate %>
  <button class="fullscreen fullscreen_enabled">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M3 12.5h2.5V15H7v-4H3v1.5zm2.5-7H3V7h4V3H5.5v2.5zM11 15h1.5v-2.5H15V11h-4v4zm1.5-9.5V3H11v4h4V5.5h-2.5z"/></svg>
  </button>
  <button class="fullscreen fullscreen_disabled">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M4.5 11H3v4h4v-1.5H4.5V11zM3 7h1.5V4.5H7V3H3v4zm10.5 6.5H11V15h4v-4h-1.5v2.5zM11 3v1.5h2.5V7H15V3h-4z"/></svg>
  </button>  
<% end %>

<% if @moderate %>
  <div class="blacklist"></div>
<% end %>
  
