<% if @avatar.custom_css %>
<style>
  <%= @avatar.custom_css %>
</style>
<% end %>

<% unless params[:hide_pov] == "1" %>
  <% if params[:local_embed] %>
      <%= @avatar.pov_stream_embed_local.html_safe if @avatar.pov_stream_embed_local %>
  <% else %>
      <%= @avatar.pov_stream_embed.html_safe if @avatar.pov_stream_embed %>
  <% end %>
<% end %>
  
<% unless params[:hide_chat] == "1" %>
  <div id="suggestions_container" class="container">
    <div id="suggestion_transmit"></div>
    <div id="suggestions_top"></div>
  </div>
<% end %>  
  
<% unless params[:hide_input] == "1" %>
  <div id="user_input_container" class="container">
    <form id="suggestion_input_form">
    	  <p>Hi, <span id="display_user_name" class="magenta user_name_chat"><%= @user_name %></span> <span id="new_name_button">(<%= @setting.local_name_change_button %>)</span>. <%= @avatar.prompt %></p>     
        <input id="suggestion_input" type="text" maxlength="79" autocomplete="off" placeholder="<%= @avatar.input_placeholder %>"/>
        <!--input id="suggestion_submit" type="submit" value="Los!"/-->
        <input id="chat_name" type="hidden" value="<%= @user_name %>"/>
        <div id="suggestion_message"></div>
    </form>

    <div id="name_container">
      <p><%= @setting.local_name_change_prompt %></p>
      <span id="name_message"></span>
      <form id="name_input_form">
        <input id="new_chat_name" type="text" size="10" value="" maxlength="10"/>
        <input id="name_submit" type="submit" value="<%= @setting.local_name_change_confirm %>"/>
      </form>
    </div>
  </div>
<% end %>
  
<% unless params[:hide_notice] == "1" %>
  <div id="moderator_container" class="container">
    <p><span id="moderator-name" class="moderator-name"><%= @chat_item.name if @chat_item %></span><span class="moderator-name">:</span> <span id="moderator-notice"><%= @chat_item.content if @chat_item %></span></p>
    <% if @moderate %>
    <form id="notice_input_form">
        <input id="notice_name" type="text" autocomplete="off" value="Moderator"/>:&nbsp;
        <input id="notice_content" type="text" autocomplete="off"/>
        <input id="notice_submit" type="submit" value="Anzeigen"/>
    </form>
    <% end %>
  </div>
<% end %>

<% if @moderate %>
  <div class="blacklist"></div>
<% end %>
  
