<div id="moderator_header"> 
  <form id="notice_input_form">
      <input id="notice_input" type="text" size="79" maxlength="79" autocomplete="off"/>
      <input id="notice_submit" type="submit" value="Anzeigen"/>
  </form>
  <iframe scrolling="no" height="30" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/notice"></iframe>
</div>

<div id="moderator_play_area">

<h1>POV Avatar 1</h1>
<iframe scrolling="no" height="400" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/pov?avatar_id=1"></iframe>

<h1>Chat Avatar 1</h1>
<iframe scrolling="no" height="400" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/chat?avatar_id=1"></iframe>

<h1>POV Avatar 2</h1>
<iframe scrolling="no" height="400" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/pov?avatar_id=2"></iframe>

<h1>Chat Avatar 2</h1>
<iframe scrolling="no" height="400" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/chat?avatar_id=2"></iframe>

<h1>Highscores</h1>
<iframe scrolling="no" height="400" width="800" src="<%= request.protocol + request.host + ":" + request.port.to_s %>/highscores"></iframe>

<h1>IP Blacklist</h1>
<div id="blacklist"></div>

<h1>Superchatter</h1>
<div id="superchatter"></div>

</div>