<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :redirect_to %><br />
    <%= f.text_field :redirect_to %>
  </div>
  <div class="field">
    <%= f.label :redirect %><br />
    <%= f.number_field :redirect %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br />
    <%= f.number_field :timeout %>
  </div>
  <div class="field">
    <%= f.label :num_display_suggestions %><br />
    <%= f.number_field :num_display_suggestions %>
  </div>
  <div class="field">
    <%= f.label :custom_css %><br />
    <%= f.text_area :custom_css %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
