<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :redirect_to %><br />
    <%= f.text_field :redirect_to %>
  </div>
  <div class="field">
    <%= f.label :redirect %><br />
    <%= f.number_field :redirect %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br />
    <%= f.number_field :timeout %>
  </div>
  <div class="field">
    <%= f.label :num_display_suggestions %><br />
    <%= f.number_field :num_display_suggestions %>
  </div>
  <div class="field">
    <%= f.label :default_username %><br />
    <%= f.text_field :default_username %>
  </div>
  <div class="field">
    <%= f.label :moderator_token %><br />
    <%= f.text_field :moderator_token %>
  </div>
  <div class="field">
    <%= f.label :custom_css %><br />
    <%= f.text_area :custom_css %>
  </div>
  <div class="field">
    <%= f.label :default_username %><br />
    <%= f.text_field :default_username %>
  </div>
  <div class="field">
    <%= f.label :local_initial_greeting %><br />
    <%= f.text_field :local_initial_greeting %>
  </div>
  <div class="field">
    <%= f.label :local_name_change_button %><br />
    <%= f.text_field :local_name_change_button %>
  </div>
  <div class="field">
    <%= f.label :local_name_change_prompt %><br />
    <%= f.text_field :local_name_change_prompt %>
  </div>
  <div class="field">
    <%= f.label :local_name_change_confirm %><br />
    <%= f.text_field :local_name_change_confirm %>
  </div>
  <div class="field">
    <%= f.label :local_suggestion_transmit_notice %><br />
    <%= f.text_field :local_suggestion_transmit_notice %>
  </div>
  <div class="field">
    <%= f.label :local_upvote_button %><br />
    <%= f.text_field :local_upvote_button %>
  </div>
  <div class="field">
    <%= f.label :local_downvote_button %><br />
    <%= f.text_field :local_downvote_button %>
  </div>
  <div class="field">
    <%= f.label :local_upvote_count %><br />
    <%= f.text_field :local_upvote_count %>
  </div>
  <div class="field">
    <%= f.label :local_downvote_count %><br />
    <%= f.text_field :local_downvote_count %>
  </div>
  <div class="field">
    <%= f.label :local_text_to_speach_says %><br />
    <%= f.text_field :local_text_to_speach_says %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
