<%= form_for(@avatar) do |f| %>
  <% if @avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited this avatar from being saved:</h2>

      <ul>
      <% @avatar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prompt %><br />
    <%= f.text_field :prompt %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select( :gender, options_for_select([["Male", "male"],["Female","female"]], @avatar.gender)) %>
  </div>

  <div class="field">
    <%= f.label :pov_stream_embed %><br />
    <%= f.text_area :pov_stream_embed %>
  </div>
  <div class="field">
    <%= f.label :pov_stream_embed_local %><br />
    <%= f.text_area :pov_stream_embed_local %>
  </div>
  <div class="field">
    <%= f.label :pushover_user_key %><br />
    <%= f.text_field :pushover_user_key %>
  </div>
  <div class="field">
    <%= f.label :custom_css %><br />
    <%= f.text_area :custom_css %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
