<!DOCTYPE html>
<html>
<head>
  <title>AvatarChat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="https://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  

  <% if @setting %>
    <meta name="timeout" content="<%= @setting.timeout %>">
    <meta name="local_upvote_button" content="<%= @setting.local_upvote_button %>">
    <meta name="local_downvote_button" content="<%= @setting.local_downvote_button %>">
    <meta name="local_suggestion_transmit_notice" content="<%= @setting.local_suggestion_transmit_notice %>">    
    <meta name="local_upvote_count" content="<%= @setting.local_upvote_count %>">
    <meta name="local_downvote_count" content="<%= @setting.local_downvote_count %>">
    
    <style><%= @setting.custom_css %></style>
    <% if @moderate %>
      <meta name="moderator_token" content="<%= @setting.moderator_token %>">  
    <% end %>
  <% end %>

</head>
<body>

<%= yield %>

</body>
</html>
